@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Quicksand:wght@300..700&display=swap');

:root{
    --white: #F3F0DD;
    --black: #442912;
    --dark-green: #2B5125;
    --light-green: #B9DAB4;
    --dark-orange: #AD4403;
    --light-orange: #EBB797;
    --light-brown: #635244;
}

*{
    font-family: 'Quicksand', serif;
    font-weight: 300;
    font-size: 1.2rem;
}

body{
    background-color: var(--white);
}

.items{
    display: flex;
    flex-direction: row;
}

label{
    color: var(--black);
    font-family: "Aclonica", serif;
    margin-bottom: 1rem;
}

button{
    background-color: var(--dark-orange);
    color: var(--white);
    border-radius: 1rem;
    font-family: "Aclonica", serif;
}

#quantidade {
    font-size: 0.6rem;
}

#qtd{
    width: auto;
}

select, input{
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    max-width: 6.5rem;
}

select > optgroup{
    font-weight: bold
}

.fruits, .verduras, .legumes, .boulangerie, .graos, .laticinios{
    margin: 3rem;
}
.fruits > select, .fruits > input, .verduras > select, .verduras > input, .legumes > select, .legumes > input{
    background-color: var(--dark-green);
    color: var(--white);
}

.boulangerie > select, .boulangerie > input{
    background-color: var(--light-orange);
    color: var(--black);
}
 
.graos > select, .graos > input{
    background-color: var(--light-green);
    color: var(--black);
}

.laticinios > select, .laticinios > input{
    background-color: var(--light-brown);
    color: var(--light-orange);
}

button{
    width: auto;
    margin-left: 30rem;
}
